github "onevcat/Kingfisher" ~> 5.13.4
github "Alamofire/Alamofire" ~> 5.1.0
github "scinfu/SwiftSoup" ~> 2.3.1
github "SuperMarcus/OpenCastSwift" "master"
github "marcosgriselli/ViewAnimator" ~> 2.7.0
