<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.marcuszhou.nineanimator.refresh.subscription</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>NineAnimator Configuration File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nineanimator.config</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleExecutableID</key>
	<string>a5b732ba924edf9dcdf0fbfbd3ca353be3acbc1b9b17dce3dfa65b43a013a3c0</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>9 Testboi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>9 Testboi</string>
				</array>
			</dict>
			<key>Fox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Fox</string>
				</array>
			</dict>
			<key>Nsxtop's 9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Nsxtop's 9</string>
				</array>
			</dict>
			<key>Tydox's 9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tydox's 9</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>9 Testboi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>9 Testboi</string>
				</array>
			</dict>
			<key>Fox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Fox</string>
				</array>
			</dict>
			<key>Nsxtop's 9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Nsxtop's 9</string>
				</array>
			</dict>
			<key>Tydox's 9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tydox's 9</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.marcuszhou.NineAnimator.link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nineanimator</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.marcuszhou.NineAnimator.discordRpcScheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>discord-573345011610026006</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_48A09E00._googlecast._tcp</string>
	</array>
	<key>NSHomeKitUsageDescription</key>
	<string>NineAnimator uses Home to run certain scenes during playback.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>NineAnimator uses the local network to discover Cast-enabled devices on your home network.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.marcuszhou.nineanimator.activity.viewAnime</string>
		<string>com.marcuszhou.nineanimator.activity.resumePlayback</string>
		<string>com.marcuszhou.nineanimator.activity.continueEpisode</string>
	</array>
	<key>UIApplicationRegistrationData</key>
	<data>
	b6TFpcxX
	</data>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NineAnimator Configuration File</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>nineanimator.config</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>naconfig</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
