:root {
  // brand colors
  --c-brand: #a173ffd0 !important;
  --c-brand-light: #a173ffd0 !important;

  // extra
  scroll-behavior: smooth;
}

/* page-specific rules */
.backup-viewer-page {
  // Display full with the Backup Viewer page
  .theme-default-content {
    max-width: 100%;
  }
  .page-meta {
    max-width: 100%;
  }
}
